* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Lexend, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

p {
  padding-bottom: 20px;
}

li {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 25px;
}