.main-content {
  padding: 50px;
  background-color: rgb(51 0 51);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 1000%);
}

.main-content h1 {
  margin-bottom: 20px;
  text-align: left;
  color: white;
}

.main-content p {
  font-size: 1.5em;
  line-height: 1.6;
  text-align: left;
  color: white;
}

.middle-section {
  display: flex;
}

.middle-section-left {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  padding-top: 100px;
  flex-wrap: wrap;
}

.header-title {
  font-size: 4em;
  margin: 0;
}
.header-support {
  font-size: 5em;
  margin: 10px 0;
}
.description {
  font-size: 1em;
  margin-bottom: 20px;
}
.scroll-text {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
.arrow {
  padding-left: 10px;
  color: rgb(255, 0, 164);
}

@media (max-width: 480px) {
  .header-title {
    font-size: 5vw;
  }
  .header-support {
    font-size: 8vw;
  }
  .description {
    font-size: .5w;
  }
  .scroll-text {
    font-size: .5vw;
  }
  .middle-section-left,
  .middle-section-right {
    width: 100%;
    text-align: center;
    padding-top: 0px;
  }
}

.middle-section-right {
  flex: 1;
}

.image-right {
  height: 600px;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 1000px) {
  .middle-section {
    flex-direction: column;
    align-items: center;
  }

  .middle-section-left,
  .middle-section-right {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .video {
    height: auto;
    width: 100%;
    max-width: none;
  }
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-button {
  width: 100%;
  background-color: #e6ccff;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #d4b3ff;
}
