.middle-section {
    display: flex;
}

.image-right {
    height: 600px;
    width: 800px;
}

/* Product Button Styles */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .product-button {
    width: 600px;
    background-color: #e6ccff;
    color: black;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-button:hover {
    background-color: #d4b3ff;
  }