.main-content {
  padding: 50px;
  background-color: rgb(51 0 51);
}

.main-content h1 {
  margin-bottom: 20px;
  text-align: left;
  color: white;
}

.main-content p {
  font-size: 1.5em;
  line-height: 1.6;
  text-align: left;
  color: white;
}

.middle-section {
  display: flex;
}

.middle-section-left {
  flex: 1;
  margin-left: 10px;
  padding-top: 100px;
}

.middle-section-right {
  flex: 1;
}

.image-right {
  height: 600px;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 1000px) {
  .middle-section {
    flex-direction: column;
    align-items: center;
  }

  .middle-section-left,
  .middle-section-right {
    width: 100%;
    text-align: center;
  }

  .video {
    height: auto;
    width: 100%;
    max-width: none;
  }
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-button {
  width: 100%;
  background-color: #e6ccff;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: #d4b3ff;
}
