.faq-container {
  width: 100%;
  padding: 20px;
  min-height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.faq-item {
  text-align: left;
  font-size: 20px;
}

.selector-tool {
  display: block;
  width: 100%;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #6a0dad;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 25px;
}

.selector-tool:hover {
  background-color: #4b0082;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.selector-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.selector-table th, .selector-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.selector-table th {
  background-color: #ece0ff;
  color: #4b0082;
}

.faq-title {
  color: #6a0dad;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-size: 50px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.faq-question {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #ece0ff;
  color: #6a0dad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-question:hover {
  background-color: #d5b3ff;
  color: #4b0082;
}

.faq-answer {
  margin-top: 10px;
  color: #4b0082;
  padding: 10px;
}

.faq-answer p {
  font-weight: bold;
}

.filter-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-options label {
  margin: 5px;
}

.filter-options h3 {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  font-size: 1.2rem;
}

.clear-filter {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  padding: 0 5px;
  margin-left: 8px;
  font-size: 0.9rem;
  line-height: 1;
}

.reset-button {
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.reset-button:hover {
  background-color: rgb(51, 51, 51);
}

